@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css";

* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.bg {
    background: url('nature.jpg') no-repeat center;
    background-size: cover;

    min-height: 100vh;

    opacity: .5;
}

/* Sign In */

.box {
    display: none;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 350px;
    height: 400px;

    background-color: rgba(0, 0, 0, .8);
    box-shadow: 0px 1px 8px 8px rgba(0, 0, 0, .6);
}

.box h2 {
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    font-size: 20px;

    padding-top: 10px;
    padding-bottom: 20px;
}

.box .line {
    position: absolute;

    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40%;
    height: 1px;

    background: rgb(20, 135, 236);
}

.box input {
    display: block;
    outline: none;

    margin: 8px auto;
    margin-top: 25px;
    padding: 7px;

    width: 80%;

    background: transparent;
    color: #fff;

    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .7);

    transition: .4s;
}

.box input:focus {
    border-bottom: 1px solid rgb(20, 135, 236);
}

.box button {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    cursor: none;
    
    color: #fff;

    margin: 8px auto;
    margin-top: 40px;
    padding: 7px;

    width: 30%;

    background-color: transparent;
    border: 1px solid #000;

    transition: .6s;
}

.box button:hover {
    background-color: #000;
    box-shadow: 0 0 4px #3897f0;
    width: 35%;
}

.box a {
    display: block;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;

    margin-top: 30px;
    margin-right: 20px;
    font-size: 11px;
}

.box a:hover {
    text-decoration: underline;
}

.box i.back {
    cursor: pointer;
    
    padding-top: 25px;
    font-size: 3.4rem;

    color: rgb(20, 135, 236);
    text-shadow: 0px 1px 4px #000;

    transition: .4s;
}

.box i.back:hover {
    color: #fff;
}

/* Sign Up */

.sign-up {
    display: block;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 350px;
    height: 460px;

    background-color: rgba(0, 0, 0, .8);
    box-shadow: 0px 1px 8px 8px rgba(0, 0, 0, .6);
}

.sign-up h2 {
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    font-size: 20px;

    padding-top: 10px;
    padding-bottom: 20px;
}

.sign-up .line {
    position: absolute;

    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40%;
    height: 1px;

    background: rgb(20, 135, 236);
}

.sign-up input {
    display: block;
    outline: none;

    margin: 8px auto;
    margin-top: 25px;
    padding: 7px;

    width: 80%;

    background: transparent;
    color: #fff;

    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .7);

    transition: .4s;
}

.sign-up input:focus {
    border-bottom: 1px solid rgb(20, 135, 236);
}

.sign-up button {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    cursor: none;
    
    color: #fff;

    margin: 8px auto;
    margin-top: 40px;
    padding: 7px;

    width: 30%;

    background-color: transparent;
    border: 1px solid #000;
    
    

    transition: .6s;
}

.sign-up button:hover {
    background-color: #000;
    box-shadow: 0 0 4px #3897f0;
    
    width: 35%;
}

.sign-up p {
    display: block;
    text-align: right;
    text-transform: uppercase;

    color: #fff;

    margin-top: 30px;
    margin-right: 20px;
    font-size: 11px;
}

.sign-up a {
    color: #0070D0;
    text-decoration: none;
}

.sign-up a:hover {
    text-decoration: underline;
}

.sign-up i.next {

    
    padding-top: 20px;
    font-size: 3.4rem;

    color: rgb(20, 135, 236);
    text-shadow: 0px 1px 4px #000;

    transition: .4s;
}

.sign-up i.next:hover {
    color: #fff;
}

.loading {
    position: absolute;
    
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    text-transform: uppercase;

    width: 100%;

    font-size: 16px;
    
    color: #0070D0;
    text-shadow: 2px 2px #333;
}

.loading h1 {
    display: none;
}

/* Responsive */
@media screen and (max-width: 360px) {
    .sign-up {
        width: 300px;
        height: 440px;
    }

    .sign-up i.next {
        font-size: 40px;
    }

    .box {
        width: 300px;
        height: 380px;
    }

    .box i.back {
        font-size: 40px;
    }
    
    #loading-text {
        font-size: 15px;
        text-shadow: 1px 1px #333;
    }
}

@media screen and (max-width: 546px) {
    .sign-up {
        width: 300px;
        height: 400px;
    }
    
    .sign-up h2 {
        padding-bottom: 10px;
    }

    .sign-up i.next {
        font-size: 40px;
        margin-top: -20px;
    }

    .box {
        width: 300px;
        height: 380px;
    }

    .box i.back {
        font-size: 40px;
    }
}